/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/*
:root {
  --ifm-color-primary: #17626c;
  --ifm-color-primary-dark: #155861;
  --ifm-color-primary-darker: #14535c;
  --ifm-color-primary-darkest: #10454c;
  --ifm-color-primary-light: #196c77;
  --ifm-color-primary-lighter: #1a717c;
  --ifm-color-primary-lightest: #1e7f8c;
}
*/

:root {
  --ifm-color-primary: #124b54;
  --ifm-color-primary-dark: #10434c;
  --ifm-color-primary-darker: #0f4047;
  --ifm-color-primary-darkest: #0d343b;
  --ifm-color-primary-light: #14525c;
  --ifm-color-primary-lighter: #155661;
  --ifm-color-primary-lightest: #17616d;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* Overriding root Infima variables */
[data-theme="dark"] {
  --ifm-color-primary: #4e89e8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
/* Styling one class specially in dark mode */
[data-theme="dark"] .purple-text {
  color: plum;
}
